@import './variables';
@import './reset';
@import './ele-reset';
@import './screen-media';

#app, .app-wrapper {
    height: 100%;
}

.app-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: $header-height;
    z-index: $z-index-header;
    background-color: #3b8bfc;
    display: flex;
    justify-content: space-between;

    .l-part{
        display: inline-flex;
        .image-icon {
            width: $sidebar-width;
            text-align: center;
            padding-top: 16px;
        }

        .welcome-text{
            color: #fff;
            font-size: 16px;
            align-self: center;
            user-select: none;
        }
    }

    .right-menu {
        display: flex;
        cursor: pointer;
        margin-right: 30px;
        align-items: center;
        .item {
            display: inline-block;
            padding: 0 10px;
            font-size: 14px;
            color: #9accff;
            user-select: none;
            &:hover{
                color: #fff;
            }
        }
    }
}

.app-main-container {
    position: relative;
    min-height: 100%;
    min-height: calc(100% - #{$header-height});
}

.app-sidebar {
    width: $sidebar-width;
    height: 100%;
    z-index: $z-index-sidebar;
    position: fixed;
    top: 0;
    left: 0;
    background: #304156;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);

    .nav-scroll {
        padding-top: 70px;
    }

    .nav-menu-list {
        //background-color: #003;

        .list-item {
            cursor: pointer;
            .cap {
                padding-left: 20px;
                width: 100%;
                text-align: left;
                margin-right: 5px;
                line-height: 40px;
                font-size: 15px;
                color: #fff;
                display: inline-flex;
                align-items: center;
                position: relative;

                .menu-icon {
                    background: url('../../assets/images/icon_book.png');
                    background-size: 100% 100%;
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                    display: inline-block;
                }

                &::before{
                    position: absolute;
                    top: 22px;
                    right: 10px;
                    content: '';
                    width: 8px;
                    height: 8px;
                    border: 1px solid;
                    border-color: #bfcbd9 #bfcbd9  transparent transparent;
                    transform: rotate(45deg);
                    transition: .2s;
                }
            }

            .cap-text {
                vertical-align: middle;
                color: #fff;
                font-size: 15px;
                line-height: 50px;
                //margin-left: 4px;
            }

            &:hover{
                background-color: #2a2f3d;
            }
        }
    }

    //.nav-menu-list-fold {
    //    background-color: #141a46;
    //
    //    .fold-item {
    //        text-align: left;
    //        cursor: pointer;
    //
    //        > a {
    //            padding-left: 45px;
    //            display: block;
    //            margin-right: 5px;
    //            line-height: 40px;
    //            color: #cfcfcf;
    //            user-select: none;
    //
    //            &.active,
    //            &:hover {
    //                color: #fff;
    //                padding-left: 45px;
    //                background-color: #0f3469;
    //            }
    //        }
    //    }
    //}
}

.app-main-area {
    background: #fff;
    position: relative;
    top: $header-height;
    left: $sidebar-width;
    width: calc(100% - #{$sidebar-width});
    height: calc(100% - #{$header-height});
    overflow: auto;

    .app-content {
        padding: 15px;
    }
}

.nav-common-head {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;

    .page-title {
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 18px;
        line-height: 1;
        font-size: 18px;
        font-weight: bold;
        border-left: 6px solid #1d66dc;
    }

    .right-btn {
        position: absolute;
        top: 25px;
        right: 20px;
    }
}

.nav-common-search {
    background-color: #fff;
    margin-top: 5px;
    padding: 25px 25px 10px 25px;

    .search-line {

        &::after {
            display: block;
            content: '';
            clear: both;
        }

        .search-union {
            float: left;
            margin-right: 20px;
            margin-bottom: 15px;

            .label-text {
                float: left;
                margin-bottom: 0;
                line-height: 28px;
                text-align: right;
                font-weight: 700;
            }

            .input-text,
            .input-time {
                float: left;
            }

            .connecting-line {
                width: 20px;
                text-align: center;
                line-height: 28px;
            }
        }
    }
}

.nav-common-breadcrumb {
    background-color: #fff;
    &.hide{
        display: none;
    }
}

.myui-loading{
    .el-icon-loading{
        font-size: 30px;
        color: $theme-font-color;
    }
    .el-loading-text{
        margin-top: 5px;
        font-size: 15px;
        color: $theme-font-color;
    }
}


.page-table-btn {
    box-sizing: content-box;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
    color: #2c78f4;
    border: 1px solid #2c78f4;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 10px;
    &:hover,
    &.act{
        background-color: #2c78f4;;
        border: 1px solid #2c78f4;
        color: #fff;
    }
}

.nav-common-search {
    background-color: #fff;
    margin: 10px 0 -10px 0;
    padding: 5px 0 10px 0;
    width: 100%;

    .search-line {
        display: flex;
        //justify-content: space-between;
        flex-flow:row wrap;

        .search-union {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 10px;

            .label-text {
                float: left;
                margin-bottom: 0;
                line-height: $input-height;
                text-align: right;
                font-weight: 700;
            }

            .input-text,
            .input-time {
                float: left;
            }

            .words{
                float: left;
                line-height: $input-height;
                font-weight: bold;
                padding-right: 10px;
            }
        }
    }
}

.nav-common-breadcrumb {
    background-color: #fff;
    &.hide{
        display: none;
    }
    //padding: 15px 0 0 15px;
}

.connecting-line {
    display: inline-block;
    min-width: 10px;
    text-align: center;
    line-height: $input-height;
    margin: 0 3px;
}

.common-table {
    background-color: #fff;
    position: relative;
    margin-top: 5px;
    .el-table {
        border: 1px solid #ddd;
        border-bottom: none;
        &::before{
            height: 0;
        }
    }
    .el-table__empty-block{
        border-bottom: 1px solid #ddd;
    }
    .el-table__header{
        border-collapse: collapse;
        th{
            border-right: 1px solid #ddd;
            user-select: auto;
            &:last-child{
                border-right: none;
            }
        }
    }
    .el-table__body{
        border-collapse: collapse;
        //border-right: 1px solid #ddd;
    }
    thead {
        th {
            background-color: #f2f2f2;
            height: 40px;

            .cell {
                text-align: center;
                color: #333;
                font-size: 14px;
                font-weight: normal;
            }

            &.is-leaf {
                border-bottom: none;
                padding: 0;
            }
        }
    }

    tbody {
        tr {
            td {
                text-align: center;
                height: 40px;
                padding: 0;

                border: 1px solid #ddd;

                .cell {
                    text-align: center;
                    color: #333;
                    font-size: 13px;

                    > span {
                        font-size: 13px;
                    }

                    .ellipsis {
                        font-size: 12px;
                        display: inline-block;
                        width: 100%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        vertical-align: middle;
                    }
                }
                &:first-child{
                    border-left: none;
                }
                &:last-child{
                    border-right: none;
                }
            }

            &:hover{
                background-color: #f0f3f8;
            }

            span,
            a{
                font-size: 13px;
            }
            .link{
                font-size: 13px;
                text-decoration: underline;
                color: $theme-font-color;
                cursor: pointer;
            }
        }
    }

    .el-table--enable-row-hover .el-table__body tr:hover > td {
        background-color: transparent;
    }

    .el-table__fixed-right-patch {
        background-color: #e9eef8;
    }
}

.el-button--primary.page-table-btn {
    height: 30px;
    padding: 0 12px;
    >span{
        line-height: 30px;
    }
    &.red{
        background-color: $btn-danger-color;
        border-color: $btn-danger-color;
    }
    &.gray{
        background-color: #aaa;
        border-color: #aaa;
    }
    &.green{
        background-color: #0ca319;
        border-color: #0ca319;
    }
}

.el-button--danger.page-table-btn {
    height: 30px;
    padding: 0 12px;
    background-color: $btn-danger-color;
    border-color: $btn-danger-color;
    >span{
        color: #fff;
        line-height: 30px;
    }
    &:active{
        opacity: .6;
    }
}


.form-input-area{
    .form-top-lines{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    .el-form{
        padding-top: 20px;
        max-width: 850px;
    }
    .el-form-item{
        margin-bottom: 20px;
    }
    color: #666;
    span{
        color: #666;
    }
}

.form-submit-line{
    max-width: 850px;
    text-align: center;
}


.page-cap-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 64px;
    color: #333;
    border-bottom: 1px solid #eaeaea;
}

.my-pagination {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    .total{
        line-height: 22px;
        padding-right: 10px;
        color: #666;
    }
    .pagination-list {
        display: flex;
        justify-content: center;

        .input-width {
            text-align: center;
            height: 22px;
            width: 45px;
            border-radius: 2px;
            outline: 0;
            -webkit-appearance: none;
            border: 1px solid #d4d4d4;
            vertical-align: top;
            box-sizing: border-box;
        }

        >span{
            line-height: 22px;
        }

        li {
            list-style: none;
            float: left;
            background: #fff;
            margin-right: 7px;
            display: inline-block;
            height: 20px;
            padding: 0 7px;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            text-align: center;
            color: #333;
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
            cursor: pointer;

            &.disabled {
                opacity: 0.6;
                pointer-events: none;
                cursor: not-allowed;
                background: #fff;
                color: #333;
                border: 1px solid #d4d4d4;
            }

            &.active,
            &:hover {
                background: $theme-font-color;
                color: #fff;
                border: 1px solid $theme-font-color;;
            }
        }
    }
}
