$common-bg : #f1f2f3; //基础背景色颜色

$base-font-family : -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif; //字体
$base-font-size : 14PX; //基础字体大小
$base-font-color : #333; //基础字体颜色

$header-height: 70px;
$sidebar-width: 200px;


$base-border-color: #ddd;

$btn-primary-color: #1a7ef8; // 按钮颜色
$btn-disable-color: #aaa; // 按钮颜色-无效
$btn-safe-color: #0ca319; // 按钮颜色-安全
$btn-danger-color: #ff5855; // 按钮颜色-危险


$theme-font-color : #6094e0; // 风格颜色

/* input 设置*/

$input-border-color: #ccc; // 边框颜色
$input-height: 40px; // input高度
$input-border-radius: 4px; // input的radius


$btn-color: #fff;

/* fixed元素的层级变量 */
$z-index-header: 100; // header栏
$z-index-sidebar: 50; // sidebar栏

$z-index-normal1: 3001; // 用于页面元素的zIndex
$z-index-normal2: 3002;
$z-index-normal3: 3003;
$z-index-normal4: 3004;
$z-index-normal5: 3005;
